# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
#Google_sheet_logger_service_Account in .json format
*.json

# Environment variables with Secrets 
.env
.secrets/

# Virtual environment
venv/
myvenv/

# SQLite DB file
*.sqlite3
*.db

# Flask debugger files
instance/
*.log

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
.idea/
# VS Code settings
.vscode/
